<h2>Your bookings</h2>
<div class="row d-flex justify-content-center">
  <% current_user.bookings.each do |booking| %>
  <div class="col-lg-4">
    <div class="card">
      <%= link_to(booking_path(booking)) do %>
        <p> Réservation du :
        <br/>
        <%= booking.booking_start %>
        <br/>
        au
        <%= booking.booking_end %>
        </p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
