<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ds4tpkzth/image/upload/v1677684241/alessio-soggetti-rSFxBGpnluw-unsplash_vc525j.jpg);">
  <div class="banner-container">
    <h1>Sky Rental brings <strong>drones</strong> to <strong>everyone </strong>!</h1>
    <p>Change your life and book one of our drones around the world.</p>
    <%= link_to "Book now", drones_path, class: "btn btn-ghost" %>
  </div>
</div>


<div class="banner-text">
  <p>Welcome to our drone renting website! We are excited to have you here and to introduce you to the wonderful world of drone technology.

At our website, you can rent a drone for a variety of purposes, whether you are a professional photographer looking to capture stunning aerial shots, or an amateur drone enthusiast who wants to explore the sky.

Our drones are equipped with the latest technology and are easy to operate, even if you are a beginner. Browse our selection of drones today and take your adventure to new heights!</p>
</div>

<div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667606/david-henrichs-72AYEEBJpz4-unsplash_y1aati.jpg" alt="">
        <h4>Choose a Drone</h4>
        <p>First choose one of our drones around the world.</p>
      </div>

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667605/alessio-soggetti-rSFxBGpnluw-unsplash_vc525j.jpg" alt="">
        <h4>Book a drone</h4>
        <p>Send an invits to the drone's owner!</p>
      </div>

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667606/karl-greif-H5IXIH254AU-unsplash_ob9odk.jpg" alt="">
        <h4>Enjoy !</h4>
        <p>Finally you will be able to fly.</p>
      </div>

    </div>
  </div>
