<div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(https://res.cloudinary.com/ds4tpkzth/image/upload/v1677771086/billy-huynh-v9bnfMCyKbg-unsplash_uoqbez.jpg);">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <h2>Find a drone to rent</h2>
        <p>Find the drone you need for your next project</p>
        <%= link_to "Find a drone", drones_path, class: "btn btn-primary" %>
      </div>
      <div class="card">
        <% if current_user && current_user.drone != [] %>
          <h2>Manage your drones</h2>
          <p>Manage your drones and see your bookings</p>
          <%= link_to "Manage your drones", admin_drones_path, class: "btn btn-primary" %>
        <% else %>
          <h2>Offer your drone for rent</h2>
          <p>Offer your drone for rent and start earning money!</p>
          <%= link_to "Offer your drone", new_admin_drone_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <h2>How it works</h2>
    <p>Find the drone you need for your next project</p>
    <p>Welcome to our drone renting website! We are excited to have you here and to introduce you to the wonderful world of drone technology.</p>
    <p>Our drones are equipped with the latest technology and are easy to operate, even if you are a beginner. Browse our selection of drones today and take your adventure to new heights!</p>
  </div>
</div>
