<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667605/alessio-soggetti-rSFxBGpnluw-unsplash_vc525j.jpg);">
  <div class="container">
    <h1>Sky Rental brings <strong>drones</strong> to <strong>everyone </strong>!</h1>
    <p>Change your life and book one of our drones around the world.</p>
    <%= link_to "Book now", drones_path, class: "btn btn-ghost" %>
  </div>
</div>


<div id="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatibus, quis iure vel aliquam veritatis architecto fugiat necessitatibus? Quidem error explicabo nemo maiores voluptatem odio delectus ad, esse reprehenderit animi.</p>
</div>

<div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667606/david-henrichs-72AYEEBJpz4-unsplash_y1aati.jpg" alt="">
        <h4>Choose a Drone</h4>
        <p>First choos one of our drones around the world.</p>
      </div>

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667605/alessio-soggetti-rSFxBGpnluw-unsplash_vc525j.jpg" alt="">
        <h4>Book a drone</h4>
        <p>Send an invits to the drone's owner!</p>
      </div>

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667606/karl-greif-H5IXIH254AU-unsplash_ob9odk.jpg" alt="">
        <h4>Enjoy !</h4>
        <p>Finally you will be able to fly.</p>
      </div>

    </div>
  </div>
