<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ds4tpkzth/image/upload/v1677684241/alessio-soggetti-rSFxBGpnluw-unsplash_vc525j.jpg);">
  <div class="card-category">
    <h2>Rent A Drone</h2>
    <p>Find the best drone for your next adventure</p>
    <div>
      <%= link_to "Browse Drones", drones_path, class: "btn btn-dark" %>
    </div>
  </div>
  <div class="card-category">
    <% if current_user && current_user.drones != [] %>
      <h2>Manage my bookings</h2>
      <p></p>
      <div>
        <%= link_to "My Bookings", new_admin_drone_path, class: "btn btn-dark" %>
    </div>
    <% else %>
      <h2>Rent my drone</h2>
      <p></p>
      <div>
      <%= link_to "Add a drone", new_admin_drone_path, class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>


<div class="banner-text">
  <p>Welcome to our drone renting website! We are excited to have you here and to introduce you to the wonderful world of drone technology.

Our drones are equipped with the latest technology and are easy to operate, even if you are a beginner. Browse our selection of drones today and take your adventure to new heights!</p>
</div>

<div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667606/david-henrichs-72AYEEBJpz4-unsplash_y1aati.jpg" alt="">
        <h4>Choose a Drone</h4>
        <p>First choose one of our drones around the world.</p>
      </div>

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677676748/development/oc62t0alur9zba4q8a2y1lpwdqxd.jpg" alt="">
        <h4>Book a drone</h4>
        <p>Send an invits to the drone's owner!</p>
      </div>

      <div class="card">
        <img src="https://res.cloudinary.com/ds4tpkzth/image/upload/v1677667606/karl-greif-H5IXIH254AU-unsplash_ob9odk.jpg" alt="">
        <h4>Enjoy !</h4>
        <p>Finally you will be able to fly.</p>
      </div>

    </div>
  </div>
