// Specific CSS for your home-page
.card-product {
  background: #E6F4F1;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
  transform: translate(2%, 2%);
  transition: transform 0.2s;
}

.card-product:hover{
  transform: translate(0, 0);
}


.card-product img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 30px;
}

.card {
  background: #E6F4F1;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
  transform: translate(2%, 2%);
  transition: transform 0.2s;
  &hover{
    transform: translate(0, 0);
  }

}
